<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ink.dimgateway.mapper.FriendMapper">
    <select id="findFriendsByLid" resultType="string">
        select lid
        from (select friend_lid as lid
              from chat_friend
              where lid = #{lid}
              union
              select lid
              from chat_friend
              where friend_lid =  #{lid}) as temp;
    </select>
</mapper>